* {
  color: #696969;
  font-family: 'Lucida Grande' , 'Lucida Sans' , Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #D2E0F0;
}
a:link {
  color: #2D81BF;
  text-decoration: underline;
}

a:hover {
  color: #1102CA;
}

p, ul, pre {
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

pre {
  font-family: "Courier New", courier, Monospace;
  border: dotted 1px #333;
  background-color: #ddd;
  margin: 1em;
  padding: 1em;
}

#header-outer {
  width: 100%;
  height: 50px;
}
#header-inner {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
h1 {
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}

#content-outer {
  background-color: #FFFFFF;
  padding: 20px 0;
}

#content-inner {
  width: 80%;
  margin: 0 auto;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

table {
  border: solid 1px #e8eef4;
  border-collapse: collapse;
  width: 99.8%;
  margin-bottom: 1em;
}

td {
  border: solid 1px #e8eef4;
  font-size: 0.8em;
  padding: 5px;
}

thead td {
  background-color: #F7F8F9;
  font-weight: bold;
}

tbody td {
  color: #000000;  
}

/* Notifications
----------------------------------------------------------*/
.notifications-wrapper {
  width: 80%;
  margin: 0 auto;  
}

.notification {
  width: 100%;
  border: 3px solid #5B5B5B;
  background-color: #C0C0C0;
  font-weight: bold;
  padding: 0.8em;
  margin-bottom: 1em;
}

.notification ul {
  list-style-type: none;
  margin: 0;
}

.error-notification {  
  background: #E09698 url('../Images/notification-error.png') no-repeat 10px 13px;
  color: #910000;
  border-color: #910000;
  padding-left: 24px;
}

.info-notification {
  background: #E09698 url('../Images/notification-info.png') no-repeat 10px 13px;
  color: #910000;
  border-color: #910000;
  padding-left: 24px;
}

.success-notification {
  background: #E09698 url('../Images/notification-success.png') no-repeat 10px 13px;
  color: #910000;
  border-color: #910000;
  padding-left: 24px;
}

.warning-notification {    
  background: #FFFF99 url('../Images/notification-warning.png') no-repeat 10px 13px;  
  border-color: #FF6600;
  padding-left: 36px;
}

.warning-notification li {
  color: #FF6600;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0;
    padding: 0 1em;
    border: 1px solid #CCC;
}

fieldset p {
    margin: 0 1em 1em 1em;
}

fieldset label {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}

legend {
  font-size: 1.1em;
  font-weight: normal;
  padding: 2px 4px 8px 4px;
  color: #3751C8;
}

input, select, textarea {
  color: #000000;
  border: 1px solid #CCC;
  font-size: 0.9em;
  padding: 3px;
}

input[type="text"] {
  width: 200px;  
}

textarea {
  width: 99.8%;
}

.clear {
    clear: both;
}

.error {
  color: #FF7575;
}

.inline { 
  display: inline;
}